* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top right, #34dfc2, #3154b3);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* inner board */
.board {
    height: 85vh;
    width: 80vw;
    background-image: linear-gradient(#030303, #2c2b2b, #030303);
    border-radius: 14px;
}


/* ball */
.ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: spinBall 0.1s linear infinite;
    background-color: aquamarine;

}


/* paddle size */
.paddle {
    height: 100px;
    width: 18px;
    border-radius: 30px;
    position: fixed;
    color: #c9cbff;
}

.paddle_1 {
    top: 50%;
    left: calc(10vw + 30px);
    background-color: white;
}

.paddle_2 {
    top: 50%;
    right: calc(10vw + 30px);
    background-color: white;
}


/* scores */
.player_1_score {
    height: 50px;
    width: 50px;
    color: rgb(230, 36, 36);
    position: fixed;
    /* left: 30vw; */
    margin-top: 30px;
    margin-left: 20%;
}

.player_2_score {
    height: 50px;
    width: 50px;
    color: rgb(230, 36, 36);
    position: fixed;
    /* left: 70vw; */
    margin-left: 65%;
    margin-top: 30px;
}

.message {
    position: fixed;
    /* color: #48426d; */
    height: 10vh;
    width: 30vw;
    color: #c9cbff;
    left: 38vw;
    margin: 30px auto auto auto;
    text-align: center;
}